* {
    font-family: "Open Sans";
}

body {
    background-color: #f9fafc;
    width: 100%;
    height: 100%;
}
/* Header Style */
header * {
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 16px;
}

header {
    margin: 20px 20px 100px 20px;
}

.page_title {
    color: #000;
}

/* Nav Bar Style */
nav {
    float: right;
}

ul {
    list-style: none;
}

li {
    padding: 5px 8px;
}

a {
    text-decoration: none;
    color: #69696a;
}
/* Button Style */
button {
    border-radius: 25px;
    background-color: #000;
    color: white;
    padding: 8px 25px;
    font-size: 12px;
}

/* Section Style */
section {
    margin: 0px 0px 0px 20px;
    display: inline-block;
    width: 55%;
}

.content_container * {
    display: inline-block;
}

.paragraph_title {
    margin: 0px 0px 10px 0px;
    font-size: 28px;
    color: #000;
    display: block;
}

.content {
    border-left: 2px solid #69696a;
    padding: 0px 0px 0px 15px;
    color: #69696a;
    width: 100%;
}

/* Circle Style */
.circle_container {
    margin: 0px 20px 0px 0px;
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 30%;
    top: 25%;
    right: 0;
}

.pink_circle, .purple_circle, .orange_circle {
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}

.pink_circle {
    background-color: rgba(247, 136, 167, 0.6);
    height: 240px;
    width: 240px;
    right: 20%;
}

.purple_circle {
    background-color: rgba(207, 130, 213, 0.6);
    height: 120px;
    width: 120px;
    top: 10%;
    right: 0;
}

.orange_circle {
    background-color: rgba(247, 193, 162, 0.7);
    height: 160px;
    width: 160px;
    top: 55%;
    right: 0;
}

/* Fix Scroll Button on bottom middle */
.scroll_btn {
    position: fixed;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
}

button:hover {
    color: #000;
    background-color: #69696a;
}

a:hover {
    color: rgba(247, 193, 162, 0.7)
}

a:active {
    color: rgba(207, 130, 213, 0.6);
}